{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('  {{url_for('static', filename='assets/img/home-bg.jpg')}} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Your Dashboard</h1>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h3>Basic Actions</h3>
            <td><a href="/dashboard"><button class="btn btn-primary text-uppercase">Dashboard Home</button></a></td>
            <td><a href="/logout"><button class="btn btn-primary text-uppercase">Logout</button></a></td>
            <hr>
            

            <h3>Add/Edit Your Posts</h3>
            <form id="contactForm" action="/edit/{{Srno}}" method="post" data-sb-form-api-token="API_TOKEN">
                <div class="form-floating">
                    <input class="form-control" id="title" type="text" placeholder="Enter the title of your blog" name="title" value="{{post.title}}" data-sb-validations="required" />
                    <label for="name">title</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Title is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="tagline" type="text" placeholder="Enter the tagline" name="tagline" value="{{post.tag_line}}" data-sb-validations="required,email" />
                    <label for="email">tagline</label>
                    <div class="invalid-feedback" data-sb-feedback="email:required">Tagline is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="slug" type="text" placeholder="Enter the unique slug" name="slug" value="{{post.slug}}" data-sb-validations="required" />
                    <label for="phone">slug</label>
                    <div class="invalid-feedback" data-sb-feedback="phone:required"> slug is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="author" type="text" placeholder="Enter your name..." name="author" value="{{post.author}}" data-sb-validations="required" />
                    <label for="name">author</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Author name is required.</div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="content" placeholder="Enter your message here..." name="content" style="height: 12rem" data-sb-validations="required">{{post.content}}</textarea>
                    <label for="message">content</label>
                    <div class="invalid-feedback" data-sb-feedback="message:required">Content is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="img_file" type="text" placeholder="Enter your name..." name="img_file" value="{{post.img_file}}" data-sb-validations="required" />
                    <label for="name">Image file Name</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Image file Name is required.</div>
                </div>
                
                <br />
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        <br />
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                <!-- Submit Button-->
                <button  class="btn btn-primary text-uppercase" id="submitButton" >Submit</button>
            </form>
        </div>          




        </div>
    </div>
</div>
{% endblock %}